div{
    padding: 10px;
}

#image{
    height: 100vh;
    background-color: rgb(3, 3, 0);
    text-align: center;
}

.hover{
    margin-top: 30px;
    transition: ease-in-out 2s;
    border-radius: 50%;
    /* float: ; */
    /* text-align: center; */
}

.hover:hover{
    transform: rotateZ(180deg);
}

h4{
    /* color: #FC6A0B; */
    font-family: Bradley Hand, cursive;
    font-weight: 500;
    /* font-size: 20px; */
}

h2{
    /* font-size: 20px; */
}
.contain{
    background-image: url(img/backdrop.jpg);
    background-size: 100%; 
}
.events{
    display: block;
    /* opacity: 0.6; */
    /* margin: 10px 10px 25px 10px; */
    padding: 20px 5% 0px 5%;
    /* border: #D2CECA 2px solid; */
    /* border-top-left-radius: 15px; */
    color: #000000;
    /* text-align: center; */
}

.eureka{
    /* display: block; */
    margin-top: 30px;
    padding: 2%;
    height: 300px;
    width: 100%;
    font-size: 15px;
    border: double #000000 5px;
    color: black;
    /* overflow: scroll; */
    /* background-color: #D2CECA; */
    /* background-color: rgba(209, 170, 12, 0.5); */
    /* box-shadow: #C8C3BF 5px 5px 2px; */
    /* box-shadow: #3C3B35 5px 5px 5px; */
}

/* .eureka:hover{
    box-shadow: #C8C3BF 5px 5px 2px;
} */
.divider{
    margin: 10px 50px 0px 50px;
    border-bottom-style: double;
    border-color: #000000;
    /* border-width: 5px; */
    /* height: 2px; */
    /* width: 80%; */
    /* background-color: black; */
}
.sponsers{
    height: 50vh;
    padding: 20px;
}

.registration{
    margin-top: 10px;
    height: 50vh;
    padding: 20px;
    /* color: #e34234; */
    color: black;
    /* background-color: rgb(3, 3, 0); */
}
.contact{
    padding: 20px;
    background-color: rgb(3, 3, 0);
    color: #e34234;
    height: 60vh;
}